<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1>New Order</h1>
<body>
<form method="post" th:action="@{'/order/add/' + ${personId}}">
    <label for="place">Place</label>
    <input type="text" id="place" placeholder="Place" th:field="*{order.place}">
    <label for="order_type">Type</label>
    <input type="text" id="order_type" placeholder="Type" th:field="*{order.orderType}">
    <label for="amount">Amount</label>
    <input type="text" id="amount" placeholder="Amount" th:field="*{order.amount}">

    <button type="submit">OK</button>
</form>

</body>
</html>